<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

   <title>Home</title>

   <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>
	
   <link rel="stylesheet" type="text/css" href="../static/css/fontello.css" th:href="@{/css/fontello.css}"/>
         
   <script src="../static/js/timer.js" th:src="@{/js/timer.js}"></script>

</head>

<body onload="getDate();">

<div id="container">

   <div class="rectangle">
	  <div id="logo"><img src="../../static/img/logo.png" width="500" th:src="@{/img/logo.png}"/></div>
      <div id="pendule"></div>
      <div style="clear: both;"></div>
   </div>

   <div class="square">
      <div class="tile6">
         <a href="/projectenvironment"><i class="icon-windy-rain"></i><br />Environnement</a>
      </div>

      <div class="tile1">
         <a href="/projectsocial"><i class="icon-toilet"></i><br />Social</a>
      </div>
      
      <div style="clear:both;"></div>

      <div class="tile7">
         <a href="/projecteconomy"><i class="icon-chart-bar"></i><br />Economie</a>
      </div>
     
      <div class="tile3">
         <a href="/...">
         <i class="icon-dropbox"></i><br />Votre Score</a>
      </div>
      <div style="clear:both;"></div>

         <div class="tile4">
		<!-- <a href="/projects"><i class="icon-emo-coffee" ></i><br />Conseils de la semaine</a> -->
			<i class="icon-emo-coffee" ></i><br />Il faut protéger la nature
         </div>
   </div>
  
   <div class="square">
      <div class="tile5">
	<!--  <link rel="alternate" type="application/rss+xml" href="http://rssblog.whatisrss.com/feed/" title="mon titre RSS"/> -->
         <!--<a type="application/rss+xml" href="http://rssblog.whatisrss.com/feed/">RSS feed for this site</a>-->
        <!--  <ul>  	
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
            <li>news actualités</li>
         </ul> -->
         <!-- start feedwind code --> 
        <!--  <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="119663/">
         </script>  -->
         <!-- end feedwind code -->
<!--          <iframe src="https://feed.mikle.com/widget/v2/119663/" height="302px" width="120%" class="fw-iframe" scrolling="no" frameborder="0"> -->
<!--          </iframe> -->
<!--          <iframe src="https://feed.mikle.com/widget/v2/119663/" height="270px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe> -->
		<iframe src="https://feed.mikle.com/widget/v2/119663/" height="270px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>     
      </div>
      
      <div style="clear: both;"></div>
      
      <div class="link">
    	  <a href="https://fr.linkedin.com/" target="_blank" class="sociallink"><i class="icon-linkedin"></i></a>
   	  </div>
      
      <div class="yt">
         <a href="https://www.youtube.com" target="_blank" class="sociallink"><i class="icon-youtube"></i></a>
      </div>
      
      <div class="drop">
         <a href="https://www.dropbox.com" target="_blank" class="sociallink"><i class="icon-dropbox"></i></a>
      </div>
      
      <!-- <div class="skype">
         <a href="https://www.skype.com" target="_blank" class="sociallink"><i class="icon-skype"></i></a>
      </div> -->
       <div class="skype">
      		<a href="/projectenvironment/quiz/addConseil" class="sociallink"><i class="icon-plus-outline"></i><br />Ajout d'un conseil</a>
   	  </div>
      <div style="clear:both;"></div>
   </div>
   <div style="clear: both;"></div>

   <div class="rectangle">2019 &copy; Alteca <i class="icon-mail-alt"></i> contact@alteca.fr</div>

</div>

</body>
</html>