
.icon-right-outline:before { content: '\e800'; } /* '' */
.icon-down-outline:before { content: '\e801'; } /* '' */
.icon-block-outline:before { content: '\e802'; } /* '' */
.icon-plus-outline:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-cancel-outline:before { content: '\e805'; } /* '' */
.icon-chart-bar:before { content: '\e806'; } /* '' */
.icon-windy-rain:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-skype:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e80a'; } /* '' */
.icon-dropbox:before { content: '\e80b'; } /* '' */
.icon-linkedin:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-ok-circle:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-home-circled:before { content: '\e811'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */